{"openapi":"3.1.0","info":{"title":"Abliteration Platform API","summary":"Greenfield Abliteration backend and API gateway.","version":"0.1.0"},"servers":[{"url":"https://api.abliteration.ai","description":"Production environment"}],"paths":{"/health/live":{"get":{"tags":["Health"],"summary":"Liveness probe","operationId":"healthLive","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/health/ready":{"get":{"tags":["Health"],"summary":"Readiness probe","operationId":"healthReady","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/organization":{"get":{"tags":["Administration"],"summary":"Retrieve the organization that owns the Admin API key","operationId":"retrieveOrganization","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationOrganization"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"AdminApiKey":[]}],"x-mint":{"metadata":{"sidebarTitle":"Get organization"}}}},"/v1/organization/projects":{"get":{"tags":["Administration"],"summary":"List projects in the organization","operationId":"listProjects","security":[{"AdminApiKey":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"null"}],"description":"ID of the last object from the prior page.","title":"After"},"description":"ID of the last object from the prior page."},{"name":"include_archived","in":"query","required":false,"schema":{"type":"boolean","description":"Include archived projects in the result.","default":false,"title":"Include Archived"},"description":"Include archived projects in the result."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of objects to return.","default":20,"title":"Limit"},"description":"Maximum number of objects to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProjectList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List projects"}}},"post":{"tags":["Administration"],"summary":"Create a project","operationId":"createProject","security":[{"AdminApiKey":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8,"maxLength":200,"description":"Client-generated key used to safely retry this mutation.","title":"Idempotency-Key"},"description":"Client-generated key used to safely retry this mutation."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreateProjectRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProject"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Create project"}}}},"/v1/organization/projects/{project_id}":{"get":{"tags":["Administration"],"summary":"Retrieve a project","operationId":"retrieveProject","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProject"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get project"}}},"post":{"tags":["Administration"],"summary":"Update a project","operationId":"updateProject","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationUpdateProjectRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProject"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Update project"}}}},"/v1/organization/projects/{project_id}/archive":{"post":{"tags":["Administration"],"summary":"Archive a project","operationId":"archiveProject","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProjectDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Archive project"}}}},"/v1/organization/policies":{"get":{"tags":["Administration"],"summary":"List policies in the organization","operationId":"listPolicies","security":[{"AdminApiKey":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"null"}],"description":"ID of the last object from the prior page.","title":"After"},"description":"ID of the last object from the prior page."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of objects to return.","default":20,"title":"Limit"},"description":"Maximum number of objects to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List policies"}}},"post":{"tags":["Administration"],"summary":"Create a policy draft","operationId":"createPolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8,"maxLength":200,"description":"Client-generated key used to safely retry this mutation.","title":"Idempotency-Key"},"description":"Client-generated key used to safely retry this mutation."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreatePolicyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Create policy"}}}},"/v1/organization/policies/{policy_id}":{"get":{"tags":["Administration"],"summary":"Retrieve a policy","operationId":"retrievePolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get policy"}}},"patch":{"tags":["Administration"],"summary":"Update a policy draft","operationId":"updatePolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationUpdatePolicyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Update policy"}}},"delete":{"tags":["Administration"],"summary":"Delete a policy","operationId":"deletePolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."},{"name":"revision","in":"query","required":true,"schema":{"type":"integer","maximum":2147483647,"minimum":1,"description":"Current policy revision.","title":"Revision"},"description":"Current policy revision."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Delete policy"}}}},"/v1/organization/policies/{policy_id}/publish":{"post":{"tags":["Administration"],"summary":"Publish a policy draft","operationId":"publishPolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyActionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Publish policy"}}}},"/v1/organization/policies/{policy_id}/pause":{"post":{"tags":["Administration"],"summary":"Pause a policy","operationId":"pausePolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyActionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Pause policy"}}}},"/v1/organization/policies/{policy_id}/resume":{"post":{"tags":["Administration"],"summary":"Resume a policy","operationId":"resumePolicy","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyActionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicy"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Resume policy"}}}},"/v1/organization/policies/{policy_id}/versions":{"get":{"tags":["Administration"],"summary":"List published policy versions","operationId":"listPolicyVersions","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."},{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"null"}],"description":"ID of the last object from the prior page.","title":"After"},"description":"ID of the last object from the prior page."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of objects to return.","default":20,"title":"Limit"},"description":"Maximum number of objects to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyVersionList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List versions"}}}},"/v1/organization/policies/{policy_id}/versions/{version}":{"get":{"tags":["Administration"],"summary":"Retrieve a published policy version","operationId":"retrievePolicyVersion","security":[{"AdminApiKey":[]}],"parameters":[{"name":"policy_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public policy ID.","title":"Policy Id"},"description":"Public policy ID."},{"name":"version","in":"path","required":true,"schema":{"type":"integer","maximum":2147483647,"minimum":1,"description":"Published policy version number.","title":"Version"},"description":"Published policy version number."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationPolicyVersion"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get version"}}}},"/v1/organization/projects/{project_id}/effective_policies":{"get":{"tags":["Administration"],"summary":"List active policies for a project","operationId":"listEffectivePolicies","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationEffectivePolicyList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List effective policies"}}}},"/v1/organization/projects/{project_id}/api_keys":{"get":{"tags":["Administration"],"summary":"List API keys for a project","operationId":"listProjectApiKeys","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."},{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"null"}],"description":"ID of the last object from the prior page.","title":"After"},"description":"ID of the last object from the prior page."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of objects to return.","default":20,"title":"Limit"},"description":"Maximum number of objects to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProjectApiKeyList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List project keys"}}},"post":{"tags":["Administration"],"summary":"Create a project API key","operationId":"createProjectApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8,"maxLength":200,"description":"Client-generated key used to safely retry this mutation.","title":"Idempotency-Key"},"description":"Client-generated key used to safely retry this mutation."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreateProjectApiKeyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreatedProjectApiKey"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Create project key"}}}},"/v1/organization/projects/{project_id}/api_keys/{api_key_id}":{"get":{"tags":["Administration"],"summary":"Retrieve a project API key","operationId":"retrieveProjectApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."},{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public API key ID.","title":"Api Key Id"},"description":"Public API key ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProjectApiKey"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get project key"}}},"delete":{"tags":["Administration"],"summary":"Revoke a project API key","operationId":"deleteProjectApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."},{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public API key ID.","title":"Api Key Id"},"description":"Public API key ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationProjectApiKeyDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Revoke project key"}}}},"/v1/organization/admin_api_keys":{"get":{"tags":["Administration"],"summary":"List Admin API keys","operationId":"listAdminApiKeys","security":[{"AdminApiKey":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"null"}],"description":"ID of the last object from the prior page.","title":"After"},"description":"ID of the last object from the prior page."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of objects to return.","default":20,"title":"Limit"},"description":"Maximum number of objects to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationAdminApiKeyList"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"List Admin keys"}}},"post":{"tags":["Administration"],"summary":"Create an Admin API key","operationId":"createAdminApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8,"maxLength":200,"description":"Client-generated key used to safely retry this mutation.","title":"Idempotency-Key"},"description":"Client-generated key used to safely retry this mutation."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreateAdminApiKeyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationCreatedAdminApiKey"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Create Admin key"}}}},"/v1/organization/admin_api_keys/{api_key_id}":{"get":{"tags":["Administration"],"summary":"Retrieve an Admin API key","operationId":"retrieveAdminApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public API key ID.","title":"Api Key Id"},"description":"Public API key ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationAdminApiKey"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get Admin key"}}},"delete":{"tags":["Administration"],"summary":"Revoke an Admin API key","operationId":"deleteAdminApiKey","security":[{"AdminApiKey":[]}],"parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public API key ID.","title":"Api Key Id"},"description":"Public API key ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationAdminApiKeyDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Revoke Admin key"}}}},"/v1/organization/spend_limit":{"get":{"tags":["Administration"],"summary":"Retrieve the organization spend limit","operationId":"retrieveOrganizationSpendLimit","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimit"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"AdminApiKey":[]}],"x-mint":{"metadata":{"sidebarTitle":"Get organization limit"}}},"post":{"tags":["Administration"],"summary":"Set the organization spend limit","operationId":"updateOrganizationSpendLimit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSetSpendLimitRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimit"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"AdminApiKey":[]}],"x-mint":{"metadata":{"sidebarTitle":"Set organization limit"}}},"delete":{"tags":["Administration"],"summary":"Delete the organization spend limit","operationId":"deleteOrganizationSpendLimit","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimitDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"AdminApiKey":[]}],"x-mint":{"metadata":{"sidebarTitle":"Delete organization limit"}}}},"/v1/organization/projects/{project_id}/spend_limit":{"get":{"tags":["Administration"],"summary":"Retrieve a project spend limit","operationId":"retrieveProjectSpendLimit","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimit"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get project limit"}}},"post":{"tags":["Administration"],"summary":"Set a project spend limit","operationId":"updateProjectSpendLimit","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSetSpendLimitRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimit"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"The request body exceeds the 64 KiB limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Set project limit"}}},"delete":{"tags":["Administration"],"summary":"Delete a project spend limit","operationId":"deleteProjectSpendLimit","security":[{"AdminApiKey":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200,"description":"Public project ID.","title":"Project Id"},"description":"Public project ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationSpendLimitDeleted"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Delete project limit"}}}},"/v1/organization/usage/completions":{"get":{"tags":["Administration"],"summary":"Retrieve organization completion usage","operationId":"retrieveOrganizationUsageCompletions","security":[{"AdminApiKey":[]}],"parameters":[{"name":"start_time","in":"query","required":true,"schema":{"type":"integer","minimum":0,"description":"Start of the reporting window as Unix seconds.","title":"Start Time"},"description":"Start of the reporting window as Unix seconds."},{"name":"end_time","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"description":"End of the reporting window as Unix seconds.","title":"End Time"},"description":"End of the reporting window as Unix seconds."},{"name":"bucket_width","in":"query","required":false,"schema":{"enum":["1m","1h","1d"],"type":"string","description":"Width of each usage bucket.","default":"1d","title":"Bucket Width"},"description":"Width of each usage bucket."},{"name":"project_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Public project IDs to include.","title":"Project Ids"},"description":"Public project IDs to include."},{"name":"api_key_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Public API key IDs to include.","title":"Api Key Ids"},"description":"Public API key IDs to include."},{"name":"models","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Model names to include.","title":"Models"},"description":"Model names to include."},{"name":"group_by","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":3},{"type":"null"}],"description":"Dimensions to group within each bucket.","title":"Group By"},"description":"Dimensions to group within each bucket."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1440,"minimum":1,"description":"Maximum number of usage buckets to return.","default":7,"title":"Limit"},"description":"Maximum number of usage buckets to return."},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":500},{"type":"null"}],"description":"Opaque page cursor.","title":"Page"},"description":"Opaque page cursor."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdministrationUsagePage"}}}},"400":{"description":"The request or cursor is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The Admin API key is missing, invalid, expired, or revoked.","headers":{"WWW-Authenticate":{"description":"Authentication scheme required by the endpoint.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The Admin API key lacks the required permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The resource was not found in the credential's organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The request conflicts with current resource or idempotency state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request parameters or body are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"The credential or organization rate limit was exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Limit for the blocking rate-limit policy.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests or concurrency slots remaining.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix time when the blocking policy resets.","schema":{"type":"integer"}},"X-RateLimit-Scope":{"description":"Credential or organization policy scope.","schema":{"type":"string"}},"X-RateLimit-Metric":{"description":"Requests or concurrent requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"The request failed unexpectedly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"A required dependency is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"metadata":{"sidebarTitle":"Get usage"}}}},"/v1/organization/costs":{"get":{"tags":["Administration"],"summary":"Retrieve organization costs","operationId":"retrieveOrganizationCosts","security":[{"AdminApiKey":[]}],"parameters":[{"name":"start_time","in":"query","required":true,"schema":{"type":"integer","minimum":0,"description":"Start of the reporting window as Unix seconds.","title":"Start Time"},"description":"Start of the reporting window as Unix seconds."},{"name":"end_time","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"description":"End of the reporting window as Unix seconds.","title":"End Time"},"description":"End of the reporting window
[...]
